In [1]:
from python_graphql_client import GraphqlClient
import pandas as pd   
import json 

# Instantiate the client with an endpoint.
client = GraphqlClient(endpoint="https://emx2-catalogue.test.molgenis.org/Conception/graphql")

# Create the query string and variables required for the request.
query = """
    query Variables { 
        Variables { 
            name
            label,
            unit {
                name
            },
            format {
                name
            }
        }
    }
"""
variables = {}

# Synchronous request
resp = client.execute(query=query, variables=variables)
# print(resp)
df = pd.json_normalize(resp['data']['Variables'])
df.head(5)

,name,label,format.name,unit.name
0,anestes,Presence of anesthesiologist at time of delivery,Categorical,NaN
1,apgar,"Apgar Score, attributed to the newborn after 5...",Integer,NaN
2,cariotipo,Karyotype,Character,NaN
3,circost,other relevant circumstance,Character,NaN
4,circ_cra,Head circumference,Integer,cm