In [6]:
from python_graphql_client import GraphqlClient
import pandas as pd   
import json 

# Instantiate the client with an endpoint.
client = GraphqlClient(endpoint="https://emx2-catalogue.test.molgenis.org/Conception/graphql")

# Create the query string and variables required for the request.
query = """
    query Variables { 
        Variables (limit: 3, offset: 5){ 
            name
            label,
            unit {
                name
            },
            format {
                name
            }
        }
    }
"""
variables = {}

# Synchronous request
resp = client.execute(query=query, variables=variables)
# print(resp)
df = pd.json_normalize(resp['data']['Variables'])
df.head(5)

       name                                 label format.name
0  datparto             Date and time of delivery    Datetime
1  desmal_1  Description of main disease of fetus   Character
2  desmal_2    Description of other fetal disease   Character